  <p id="notice"><%= notice %></p>

  <h1>All Books</h1>

  <div class="row" style="margin-top: 30px">
    <% @books.each do |book| %>
      <div class="col-sm-3" style="padding: 10px 25px;">
        <div class="row" style="background: #eff0f1; padding: 15px 0; box-shadow: #ddd 0px 5px 5px;">
          <div class="col-sm-12"><img width="100%" height="300px" alt="cover" src="<%= book.cover %>"></div>
          <div class="col-sm-12"><h3 style="height: 80px"><%= link_to book.title, book, :style => "color: #428bca; background: transparent" %></h3></div>
          <div class="col-sm-12"><p style="color: grey; height: 30px"><%= book.author %></p></div>
          <div class="col-sm-12" style="margin-bottom: 5px;">
            <% if book.is_borrowed %>
              <span class="label label-danger">Checked out</span>
            <% else %>
              <span class="label label-success">Available</span>
            <%end%>
            <%if book.is_borrowed %>

              <% if user_signed_in? && book.user_id == current_user.id %>

                <%= link_to 'Return', return_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%>
              <%else%>
                <% if !book.is_requested %>
                  <%= link_to 'Request Notification', request_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%>
                <%else%>
                  <% if book.is_requested && (book.requested_by == current_user.id) %>          
                    <%= link_to 'Cancel Notification', cancel_request_book_path(:id => book.id), :class => "btn btn-warning", :style => "color: #ffffff"%>
                  <%end%>
                <%end%>
              <%end%>
            <%else%>
              <%=link_to 'Check out', borrow_book_path(:id => book.id), :class => "btn btn-success", :style => "color: #ffffff"%>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <%= will_paginate @books, :class => "digg_pagination", :style => "display: flex; justify-content: center; padding-top: 30px"%>
  <br>
  <br><br>
  <%if user_signed_in? && current_user.admin? %>
  <%= link_to 'Add Book', new_book_path, :class => "btn btn-success btn-lg", :style => "color: #ffffff" %>
  <% end %>