<%= form_for @search, html:{class: "pure-form"} do |s| %>

<div class="form-group">
  <%= s.label :isbn%><br />
  <%= s.text_field :isbn, :autofocus => true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= s.label :title%><br />
  <%= s.text_field :title, class: 'form-control'%>
</div>

<div class="form-group">
  <%= s.label :publisher%><br />
  <%= s.text_field :publisher, class: 'form-control'%>
</div>

<div class="form-group">
  <%= s.label :author%><br />
  <%= s.text_field :author, class: 'form-control'%>
</div>

<div class="actions"><%= s.submit "Search", class: "btn btn-primary"%></div>

<%end%>